body {
  background-image: url('https://media.istockphoto.com/id/1331579485/vector/background-curved-light-blue.jpg?s=612x612&w=0&k=20&c=Wslr-PIxcQDoxXmzC7_w8rbFM9_s_5Jz99tE3ftNM1A='); /* Replace with the path to your image file */
  background-repeat: no-repeat;
  background-size: cover;
  color: black;
  font-family: Papyrus, sans-serif;
  margin: 10% 20%
}
ul {
  list-style: square;
}
.exp-header {
  text-align: center;
  text-transform: uppercase;
  border-top: 1px solid #dddddd;
  border-bottom: 1px solid #dddddd;
  background-color: rgba (0,0,0, 0.1)
}
h1{
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  color: black;
  margin-bottom: 10px;
}
.header {
  font-family: Papyrus;
  font-weight: bold;
  border: 1px solid black;
  margin-left: 10px;
  margin-right: 10px;
  background-color: 
  padding-left: 10px
  ext-align: center;
  text-transform: uppercase;
  text-align: center;
}
.truck_img:{
  float: right;
}
img {
  margin: auto;
  width: 150px;
  padding: 10px;
  
}
img:hover {
  box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}
<a href="paris.jpg">
  <img src="paris.jpg" alt="Paris">
</a>
